<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="public/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/people">People</a>
        </li>
        <li>
          <a href="/articles">Articles</a>
        </li>
        <li>
          <a href="/admin">Admin</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>


<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
<script>
function submitForm(action, id, person)
{
	var personForm = document.getElementById("personForm");
	document.getElementById("actionType").value=action;
	document.getElementById("_id").value=id;
	if (action == 'edit')
	{
		document.getElementById("name").value=person.name;
		document.getElementById("pic").value=person.pic;
		document.getElementById("url").value=person.url;
		document.getElementById("description").value=person.description;
	}
//	personForm.actionType = action;
//	personForm._id = id;
	personForm.submit();
}
</script>

          <!--/stories-->
          <form id='personForm' action='/admin/editPeople' method='POST'>
            <input type='hidden' name='actionType' id='actionType'/>
            <input type='hidden' name='_id' id='_id'/>
            <input type='hidden' name='pointInEdit' id='pointInEdit' value='prompt'/>
            <input type='hidden' name='name' id='name'/>
            <input type='hidden' name='pic' id='pic'/>
            <input type='hidden' name='url' id='url'/>
            <input type='hidden' name='description' id='description'/>
          </form>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <h2><a href='/admin/newPeople'>Add a Painter</a></h2>
            </div>
            <br/><br/>
          </div>
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <h2>OR</h2>
            </div>
            <br/><br/>
          </div>
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <h2>Edit/Delete a Painter</h2>
            </div>
            <br/><br/>
          </div>
              
          <% for (var i=0; i<people.length; i++) { %>
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <h2><%=people[i].name%></h2>
              <a class="story-title" href="#"><img alt="" src="<%=people[i].pic%>" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=people[i].description%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><a href='javascript:
                  	var person = new Object();
                  	person.name = "<%=people[i].name%>";
                  	person.pic = "<%=people[i].pic%>";
                  	person.description = "<%=people[i].description%>";
                  	person.url = "<%=people[i].url%>";
                  	submitForm("edit", "<%=people[i]._id%>", person);
                  	'>Edit Person</a></span>
                  <span class="label label-default"><a href='javascript: submitForm("delete", "<%=people[i]._id%>");'>Delete Person</a></span>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <% } %>
          
          <hr>
          <!--/stories-->
          
          
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="public/js/bootstrap.min.js"></script>
	</body>
</html>